<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../public/js/webix/webix.min.css">
        <link rel="stylesheet" type="text/css" href="../public/css/task.css">
        <script type="text/javascript" src="../public/js/webix/webix.min.js"></script>
        <script src="../public/js/supporting/fontawesome.js" type="text/javascript"></script>
        <script src="../public/js/webix/kanban.js" type="text/javascript"></script>
    </head>
    <body>
        <script type="module" src="../public/js/mainScript.js"></script>
    </body>
</html>